body {
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yjAIDHxW0SkX2rM3wqB2uhIiAsY35BB07Qx9OalGGWC6tHRGuw);
    background-repeat: repeat;
    background-attachment: fixed;

}

.coin {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    background-color: aliceBlue;
    opacity: 0.8;
    padding: 10px;
}

.coin div{
    flex: 1;
    align-content: space-between;
    margin: 2px;
    padding: 1px;
    border-right: 1px solid gray;
}
#heading-text{
    color: tomato
}

.search-input {
    flex: 1;
    border: solid 1px blue;
    background-color: aliceblue;
    width: 60%;
    height: 100%;
    padding: 10px;
    border-radius: 2%;
    margin: 20px 0;
}